services:
  model_downloader:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cuda
    image: local_rag-app-cuda

  ingest:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cuda
    image: local_rag-app-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  llm:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cuda
    image: local_rag-app-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cuda
    image: local_rag-app-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  benchmark:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cuda
    image: local_rag-app-cuda